@import "tailwindcss";
/*@import "tailwindcss/utilities";*/

@layer base {

    @font-face {
        font-family: 'Orbitron';
        src: url('./assets/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
        font-weight: normal;

    }
    @font-face {
        font-family: 'Orbitron';
        src: url('./assets/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
        font-weight: bold;
    }
    @font-face {
        font-family: 'Orbitron';
        src: url('./assets/Orbitron/static/Orbitron-ExtraBold.ttf') format('truetype');
        font-weight: 900;
    }

    @font-face {
        font-family: 'Oxanium';
        src: url('./assets/Oxanium/static/Oxanium-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        src: url('./assets/Oxanium/static/Oxanium-Bold.ttf') format('truetype');
        font-weight: bold;
    }
    @font-face {
        font-family: 'Oxanium';
        src: url('./assets/Oxanium/static/Oxanium-ExtraBold.ttf') format('truetype');
        font-weight: 900;
    }
}


@theme {
    --font-heading: Orbitron, sans-serif;
    --font-body: Oxanium, sans-serif;
    --bg-glass: url("./assets/noise-texture-svg.svg")
}

.svg-defs {
    height: 0;
    width: 0;
    position: absolute;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.header {
    @apply font-heading text-shadow-lg text-shadow-black/60  text-cyan-400/90 text-6xl sm:text-4xl;
    margin-bottom: 1em;
}

.app {
    @apply max-w-[720px] ;
}

.app > * {

}

.card {
    @apply h-full w-full  relative m-auto p-8 my-6;
    @apply backdrop-filter-[--bg-glass] backdrop-blur-lg bg-white/10  border border-blue-400/15 rounded-xl;
    @apply hover:border-blue-400/25;
    @apply shadow-lg shadow-gray-900/75;
}

.lift {
    /*@apply flex flex-col items-center justify-center px-2;*/
    @apply hover:translate-y-[-2px];
}

.read-the-docs {
    color: #888;
}


.form-button {
    border-radius: .75rem;
    border: 1px solid transparent;
    font-weight: 500;
    @apply font-heading;

    @apply text-white p-2 m-4 min-w-[100px] hover:border-cyan-400 text-center text-xl;
    cursor: pointer;
    transition: border-color 0.25s;
}

.form-button-submit {
    @apply bg-cyan-500/60 hover:bg-cyan-600 hover:scale-[103%] transition-transform duration-150 ease-in-out
    transform active:scale-95;
}

.form-button:focus,
.form-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
